page-login {
    .center{
        text-align: center;
        font-size: 16px;
    }
    a{
        color: #3e497f!important;
    }
    .error-box{
        color:red;
        margin-left: 18px;
        margin-top: 4px;
    }

    .logo img{
        max-width: 50%;
        margin: auto;
        display: block;
    }

    .content{
        margin-top: 14vh;
    }
}
