<ion-header>
</ion-header>

<ion-content overflow-scroll="false" no-bounce class="content">
<img class="logo" src="../assets/icon/logo.png">
      <ion-item>
        <ion-input *ngIf="pbUrl == null"  class="inputBox" type="url" placeholder="URL(Address)" [(ngModel)]="url"></ion-input>
        <ion-input *ngIf="pbUrl != null"  class="inputBox" type="url" value="{{pbUrl}}" [(ngModel)]="url"></ion-input>

      </ion-item>
      <button class="searchButton" ion-button  color="odoo" (click)="openWebpage(url)">Search</button>

</ion-content>