page-home {

    .content{
        background-image: url(../assets/imgs/bg.png);
        text-align: center;
        background-repeat: no-repeat;
        background-size: cover;   
 }

        .logo{
            height: 120px;
            margin: 4em 0 0 0;
        }

    .searchHeader{
        color: #3e497f;
        text-align: center;
        font-weight: 500;
        font-size: 20px;
        margin: 2em 0 0 0;
    }

    .item-md.item-block .item-inner {
        padding-right: 8px;
        border-bottom: none;
    }

    .inputBox{
      border: 1px solid #3e497f;
      margin: 1em 1em 1em 0;
      color: #3e497f;
      padding-left: 1em;
    }

    .searchButton{
        margin-top: 2em;
        padding: 0 25px 0 25px;
    }

    .invalid{
        border-bottom: 1px solid rgba(255, 0, 0, 0.71);
      }
    
      .item-md.item-block .item-inner {
        padding-right: 0px !important;
        border-bottom: #fff !important;
      }

      .item-md.item-input.input-has-focus .item-inner {

        box-shadow: none;
        
        border-bottom: none;
        
        }

}

